.page {
  background-color: var(--color-bg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rec {
  text-transform: uppercase;
  position: absolute;
  inset-block-start: 14px;
  inset-inline-end: 19px;
  color: var(--color-rec);
  text-align: center;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-size-main);
}

button {
  cursor: pointer;
}

.rec::after {
  content: "";
  display: inline-block;
  fill: var(--color-rec);
  box-shadow: 0 0 4px 2px var(--color-rec);
  margin-inline-start: 10px;
  width: 9px;
  height: 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 50%;
  background-color: var(--color-rec);
  margin-block-end: 1px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--color-corner);
  border-inline-end: 1px solid var(--color-corner);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--color-corner);
  border-inline-start: 1px solid var(--color-corner);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  gap: 13px;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--color-button);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-size-main);
  text-transform: lowercase;
  padding: 2px 13px 4px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-button);
  pointer-events: none; 
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--color-button);
}

.header__topic-name {
  color: var(--color-header);
  text-shadow: 4px 4px 0px var(--color-shadow);
  font-family: var(--font-family-main);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__topic-description {
  color: var(--color-heading);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-main);
  background-color: var(--color-title-bg);
}

main {
  padding: 0 10px;
}

.section-reasons {
  display: grid;
}

.section-title {
  color: var(--color-subtitle);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-main);
  margin-block-start: 40px;
  margin-block-end: 19px;
}

article {
  margin-block-end: 20px;
}

article:last-of-type {
  margin-block-end: 0;
}

.title-spaced {
  padding-top: var(--space-sm);
}

.section-subtitle {
  color: var(--color-heading);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-main);
  background-color: var(--color-title-bg);
  margin: 0 0 10px;
}

.paragraph {
  color: var(--color-text);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-main);
  margin-block-end: 20px;
}

.paragraph:last-of-type {
  margin-block-end: 0;
}

.link-accent {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--color-accent);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.link-accent:hover {
  border-bottom: 1px solid var(--color-link-underline);
}

.link-accent:focus {
  outline: none;
}

.link-accent:focus-visible {
  outline: 1px solid var(--color-link-underline);
}

.section-factors {
  display: grid;
}

.section-tips {
  display: grid;
}

.tips-title {
  padding-top: var(--space-sm);
}

.tips-intro {
  color: var(--color-heading);
  background-color: var(--color-title-bg);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-main);
  margin-block-end: 15px;
}

.tip-heading {
  font-weight: 400;
  margin-block-end: 11px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__title {
  color: var(--color-heading);
  background-color: var(--color-title-bg);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-main);
  margin-block-start: 50px;
}

.gallery__item {
  inline-size: 100%;
  gap: 10px;
  object-position: center;
}

.site-footer {
  display: grid;
  position: relative;
  place-items: center;
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
}

.site-footer__title {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  position: relative;
  color: var(--color-footer);
  text-shadow: 4px 4px 0px var(--color-shadow);
  font-family: var(--font-family-main);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 768px) {

  .rec {
    inset-block-start: 24px;
    inset-inline-end: 29px;
  }

  .header {
    padding: 20px 20px 20px 0;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__topic-name {
    justify-self: start;
  }

  .header__grid-template {
    display: grid;
    grid-template-columns: 49%;
    justify-content: end;
  }

  main {
    padding: 0 20px;
  }

  .section-reasons {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: 60px 0 20px;
  }

  .section-title {
    margin-block-start: 0;
  }

  .title-spaced {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-block-start: 63px;
    padding-top: 0;
  }

  .section-tips {
    margin-block-start: 84px;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .tips-title {
    padding: 0;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-block-start: 77px;
  }

  .gallery__title {
    margin-block-end: 0;
    margin-block-start: 0;
    grid-column: span 3;
  }

  .gallery__item {
    block-size: 100%;
    object-fit: cover;
  }

  .gallery__item--sunset {
    grid-column: span 2;
  }

  .gallery__item--ice-cream {
    grid-row: span 2;
  }
  .gallery__item--tape {
    grid-row: span 2;
  }

  .gallery__item--street {
    grid-column: span 2;
  }
  .gallery__item--books {
    grid-column: 2;
    grid-row: 3;
  }

  .site-footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-inline-start: 20px;
    gap: 10px;
  }

  .header__topic-name {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__grid-template {
    grid-template-columns: 64%;
  }

  .section-reasons {
    column-gap: 10px;
    margin: 60px 0 18px;
  }

  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section-tips {
    margin-block-start: 83px;
    column-gap: 10px;
  }

  .gallery {
    margin-block-start: 76px;
  }

  .site-footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}