/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  height: 100vh;
  padding: 13px;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  align-self: flex-start;
  justify-self: end;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  justify-self: start;
  align-self: flex-end;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.rec {
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(2, auto);
  justify-self: end;
  justify-self: end;
  position: absolute;
  visibility: var(--is-light); 
  gap: 10px;
  block-size: 25px; 
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  text-transform: uppercase;
  line-height: 25px;
}

.rec::after {
  content: "";
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  justify-self: end;
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  position: relative;
  display: block;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  line-height: 1;
  color: var(--nav-color);
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-inline-start: 0;
  inset-block-end: -2px;
}

.header__theme-menu-button:hover {
  --nav-hover-color: rgb (255 0 112 / 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--header1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--small-line-height);
}

.header__description {
  grid-column: 1 / 3;
  justify-content: end;
  display: inline-block;
}
