:root {
  --color-bg: #000028;
  --color-accent: #FF0070;
  --color-text: #F1B2CE;
  --color-button: #FF0070;
  --color-button-hover: rgba(255, 0, 112, 0.40);
  --color-subtitle: #FF0070;
  --color-corner: #FF0070;
  --color-rec: #FF0070;
  --color-title-bg: #FF0070;
  --color-heading: #000028;
  --color-header: #db00ff;
  --color-footer: #db00ff;
  --color-link-underline: #F1B2CE;
  --color-shadow: #ff0070;
  --font-family-main: 'IBM Plex Mono', monospace;
  --font-size-main: 18px;
  --line-height-main: 23.4px;
  --space-sm: 5px;
  --space-md: 23px;
}